html{
    height:100%;
}
body {
    background-color: black;
    color: #EAEAEA;
    height: 100%;
    margin: 0px;
    font-family: 'Lora', serif;
}

.header {
    display: flex;
    justify-content:space-around;
}

.navbar {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    background-color: #231f20;
    padding-top: 15px;
    padding-bottom: 15px;
}

a {
    color: #FF4500;
    text-decoration: none;
}

.main {
    height: 100%;
    background-image: url("https://images.sgcafe.net/2018/07/608192c4eea3e8d73a74e070b5d06d90.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.footer {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: #8e7932;
    background-color: #231f20;
}

.social {
    display: flex;
    justify-content: center;
}

.social-image{
    width: 30px;
    margin: 15px;
}

.aboutMain { 
    display: flex;
    height: 100%;
}

.leftPane {
    width: 50%;
    font-size: 20px;
    padding-right: 25px;
    color:grey;
}

.rightPane {
    width: 50%;
    background-image: url("https://static.tvtropes.org/pmwiki/pub/images/sevendeadlysinslineup.jpg");
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.thumbnail {
    margin: 30px;
    border: solid #FFD700;
    width: 250px;
    height: 250px;
}

.thumbnail-image {
    height: 100%;
    width: 100%;
}